@page
@model MyWebsite.Pages.Foundation.DisastersModel
@{
}

<header class="header">

    <div class="flex">

        <a href="Homepage.html" class="logo">Disasters<span> Alleviation </span>Foundation</a>

        <nav class="navbar">
            <ul>
                <li><a href="/Foundation/Index">Summaries</a></li>
                <li><a href="/Foundation/Disasters">Disasters</a></li>
                <li><a href="/Foundation/Donations">Donations</a></li>
                <li><a href="/Foundation/DisasterMoney">Disaster-Specific</a></li>
                <li><a href="/Foundation/Purchases">Purchase</a></li>
            </ul>
        </nav>

        <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
            <div id="user-btn" class="fas fa-user"></div>
        </div>

        <div class="account-box">
            <a href="#" class="delete-btn">Logout</a>
        </div>

    </div>

</header>

<section class="new-disaster">

    <!--form to capture user input-->
    <form method="POST" enctype="multipart/form-data">
        <h3>Disaster Information</h3>
        <input type="text" name="newlocation" class="box" placeholder="Location" required>
        <h4>Start date</h4>
        <input type="date" name="newstart" class="box" required placeholder="Start date">
        <h4>End date</h4>
        <input type="date" name="newend" class="box" placeholder="End date" required>
        <input type="text" name="newdetails" class="box" placeholder="Description" required>
        <input type="text" name="newhelp" class="box" placeholder="Required aid (food, water, etc.)" required>

        @if (Model.successMessage.Length > 0)
        {
            <div class='alert alert-warning alert-dismissable fade show' role='alert'>
                <strong>@Model.successMessage</strong>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        }

        <input type="submit" value="Record" name="add_disaster" class="btn">
    </form>

</section>

<section class="heading">
    <<<<<<< HEAD
    <h3>Active and Past Disasters</h3>
    >>>>>>> master
</section>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Started</th>
                <th>Ended</th>
                <th>Description</th>
                <th>Required Aid</th>
                <th>Action</th>
                <th>Donate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.allDisasters)
            {
            <tr>
                @{if (@item.dend < DateTime.Now)
                    {
                        <td>@item.dlocation</td>
                        <td>@item.dstart</td>
                        <td>@item.dend</td>
                        <td>@item.ddescription</td>
                        <td>@item.daid</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="/Foundation/Update?id=@item.did">Edit</a>
                        </td>
                        <td>
                            <a class="option-btn" href="/Foundation/DonateMoney?id=@item.did">Money</a>
                            <a class="option-btn" href="/Foundation/DonateGoods?id=@item.did">Goods</a>
                        </td>
                    }
                    else
                    {
                        <td>@item.dlocation</td>
                        <td>@item.dstart</td>
                        <td>@item.dend</td>
                        <td>@item.ddescription</td>
                        <td>@item.daid</td>
                    }
                }
            </tr>
            }
        </tbody>
    </table>
</div>